#u115
{
	background-color: #D41700;
}

#u442,#u483,#u510
{
	background-color: #FFFFFF;
}

#u1154
{
	border-color: #7C7C7C;
	background-color: transparent;
}

#u1158,#u465,#u1161
{
	background-color: #E7E7E7;
}

#u220,#u200,#u1242,#u1228,#u1221,#u1214,#u1249,#u1206,#u1235,#u451,#u273
{
	background-color: transparent;
}

#u1195,#u1189,#u1201,#u1186,#u1168,#u1183,#u1180,#u1177,#u1171,#u1174,#u1192,#u1198
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u436-4,#u1165-4,#u468-4,#u461-4,#u471-4,#u528-4,#u525-4,#u489-4,#u480-4,#u507-4,#u495-4,#u513-4,#u516-4,#u519-4,#u522-6,#u492-5,#u498-4,#u445-7,#u448-4,#u949-4,#u932_img
{
	display: block;
	vertical-align: top;
}

#u1090
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
}


